<h1><%= @comment.new_record? ? 'New' : 'Editing' -%> Comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.text_field :body %>
	<%= f.hidden_field :work_item_id, :value => @comment.work_item.id %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to back_image_tag(:large), work_item_path(@comment.work_item) %>
