<div class="list_item invoice">
	<div class="field first identifier"><%= link_to invoice.identifier, invoice_url(invoice) %></div>
	<div class="field client"><%= link_to invoice.client.name, client_url(invoice.client) %></div>
	<div class="field project"><%= link_to invoice.project.name, project_url(invoice.project) %></div>
	<div class="field created_at"><%=h invoice.created_at.short_date rescue '&nbsp;' %></div>
	<div class="field billed_at"><%= link_to(invoice.billed_at.short_date, unbill_invoice_url(invoice), :method => :post) rescue link_to('bill', bill_invoice_url(invoice), :method => :post) %></div>
	<div class="field total"><%=h number_to_currency(invoice.total) %></div>
	<div class="links">
		<div class="link show"><%= link_to 'Show', invoice %></div>
		<div class="link edit"><%= link_to 'Edit', edit_invoice_path(invoice) %></div>
		<div class="link destroy"><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
</div>
