<div class="item_data invoice">
  <% custom_fields_for invoice_data, { :header => :identifier } do |f| %>
    <div class="column first">
      <%= f.field :identifier %>
      <%= f.field :client, { :value => link_to(invoice_data.client.name, client_url(invoice_data.client)) } %>
      <%= f.field :project, { :value => link_to(invoice_data.project.name, project_url(invoice_data.project)) } %>
      <%= f.field :created_at, { :value => (invoice_data.created_at.short_date rescue nil) } %>
      <%= f.field :billed_at, { :value => (invoice_data.billed_at.short_date rescue nil) } %>
      <%= f.field :paid_at, { :value => (invoice_data.paid_at.short_date rescue nil) } %>
      <%= f.field :hours, { :value => ("%0.02f" % invoice_data.hours) } %>
      <%= f.field :total, { :value => number_to_currency(invoice_data.total) } %>
    </div>
  <% end %>
</div>
