<h1><%= @invoice.new_record? ? 'New' : 'Editing' -%> Invoice</h1>

<% form_builder_for(@invoice) do |f| %>
  <%= f.text_field :identifier %>
  <%= f.text_field :client %>
  <% if @invoice.new_record? -%>
    <%= f.collection_select :project_id, @projects, :id, :name %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  <% else -%>
    <%= f.text_field :user %>
  <% end -%>
  <%= f.datetime_select :billed_at %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Back', invoices_path %>
