<%= render :partial => 'invoice_data', :object => @invoice %>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<% if @invoice.work_items.size > 0 -%>
<%= render :partial => 'work_items/work_item_list', :object => @invoice.work_items %>
<% end -%>

<% if @invoice.transactions.size > 0 -%>
<div class="list invoice_transactions transactions">
	<div class="heading">transactions</div>
	<div class="content">
		<%= render :partial => 'accounts/transaction_list_header' %>
		<%= render :partial => 'accounts/transaction', :collection => @invoice.rev_sorted_transactions %>
	</div>
</div>
<% end -%>
