<h1><%= @user.new_record? ? 'New' : 'Editing' -%> User</h1>

<% form_builder_for(@user) do |f| %>
    <%= f.text_field :username %>
    <% if !@user.account_groups.empty? %>
      <%= f.collection_select :account_group_id, @user.account_groups, :id, :name %>
    <% end %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.select :template, options_for_select(UserOption.templates, @user.template) %>
    <%= f.datetime_select :last_login %>
    <%= f.submit 'Update' %>
<% end %>

<% if @current_user == @user %>
  <h2>User Options</h2>
  <% form_builder_for(@user_options, :url => '/') do |f| %>
    <%= f.collection_select :account_group_id, @current_user.account_groups, :id, :name %>
    <%= f.select :template, options_for_select(UserOption.templates, @user_options.template) %>
    <%= f.submit 'Change' %>
  <% end %>
<% end %>

<%= link_to 'Back', users_path %>
