<h1><%= @user.new_record? ? 'New' : 'Editing' -%> User</h1>

<% form_builder_for(@user) do |f| %>
    <%= f.text_field :username %>
    <%= f.text_field :hashed_password %>
    <%= f.text_field :salt %>
    <%= f.datetime_select :last_login %>
    <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Back', users_path %>
