
<div class="menu">
	<div class="link"><%= link_to 'accounts', accounts_url %></div>
	<div class="link"><%= link_to 'transactions', transactions_url %></div>
	<div class="link"><%= link_to 'clients', clients_url %></div>
	<div class="link"><%= link_to 'projects', projects_url %></div>
	<!--
	<div class="link"><%= link_to 'invoices', invoices_url %></div>
	<div class="link"><%= link_to 'rates', rates_url %></div>
	-->
	<div class="link"><%= link_to 'users', users_url %></div>
	<div class="link logout">
		<% if !@current_user.nil? -%>
			<%= link_to 'logout', logout_users_url %>
		<% else -%>
			<%= link_to 'login', login_users_url %>
		<% end -%>
	</div>
	<div class="link switch">
		<% if @current_user.id == 1 -%>
			<%= link_to User.find(2).username, quick_switch_url(2) %>
		<% else -%>
			<%= link_to User.find(1).username, quick_switch_url(1) %>
		<% end -%>
	</div>

</div>
