<div class="item_data client">
  <% custom_fields_for client_data do |f| %>
		<div class="column first">
      <%= f.field :name %>
      <%= f.field :account, { :value => (link_to(client_data.account.name, account_url(client_data.account)) rescue 'none') } %>
    </div>
    <div class="column">
      <%= f.field :contact_name, { :label => 'Billing Contact' } %>
      <%= f.field :contact_street1, { :label => '' } %>
      <%= f.field(:contact_street2, { :label => '' }) unless client_data.contact_street2.blank? %>
      <%= f.field :city_state_zip, { :label => '' } %>
    </div>
  <% end %>
</div>
