<div class="list_item client">
	<div class="field first name"><%=h client.name %></div>
	<div class="field account"><%= link_to client.account.name, account_url(client.account) rescue '&nbsp;' %></div>
	<div class="links">
		<div class="link show"><%= link_to show_image_tag, client %></div>
		<div class="link edit"><%= link_to edit_image_tag, edit_client_path(client) %></div>
		<div class="link destroy"><%= link_to delete_image_tag, client, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
</div>
