<h1>Editing client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :account %><br />
    <%= f.collection_select :account_id, @client_accounts, :id, :name, :include_blank => true %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
