<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :user_id, :value => @current_user.id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :client_account %><br />
    <%= f.collection_select :client_account_id, @client_accounts, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>
