<%= render :partial => 'client_data', :object => @client %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

<% if @client.projects.size > 0 -%>
	<%= render :partial => 'projects/project_list', :object => @client.projects %>
<% end -%>

<% if @client.invoices.size > 0 -%>
	<%= render :partial => 'invoices/invoice_list', :object => @client.invoices %>
<% end -%>

<% if @client.client_account.recent_transactions.size > 0 -%>
<div class="list client_transactions transactions">
	<div class="heading">transactions</div>
	<div class="content">
		<%= render :partial => 'accounts/transaction_list_header' %>
		<%= render :partial => 'accounts/transaction', :collection => @client.client_account.recent_transactions %>
	</div>
</div>
<% end -%>
