<%= render :partial => 'client_data', :object => @client %>

<%= admin_account_group_link_to edit_image_tag(:large), edit_client_path(@client) %>
<%= link_to back_image_tag(:large), clients_path %>

<% if @client.projects.size > 0 -%>
	<%= render :partial => 'projects/project_list', :object => @client.projects %>
<% end -%>

<% if @client.invoices.size > 0 -%>
	<%= render :partial => 'invoices/invoice_list', :object => @client.invoices %>
<% end -%>

<% if @client.account -%>
	<% if @client.account.recent_transactions.size > 0 -%>
	<div class="list client_transactions transactions">
		<div class="heading">transactions</div>
		<div class="content">
			<%= render :partial => 'transactions/list_header' %>
			<%= render :partial => 'transactions/transaction', :collection => @client.account.recent_transactions %>
		</div>
	</div>
	<% end -%>
<% end -%>
