<div class="item_data work_item">
  <% my_custom_fields_for work_item_data, { :header => "#{work_item_data.start_time.short_date} #{work_item_data.start_time.short_time}" } do |f| %>
    <div class="column first">
      <%= f.field :project, { :value => (work_item_data.project.name rescue 'none') } %>
      <%= f.field :rate, { :function => :name } %>
      <%= f.field :invoice, { :value => (link_to(work_item_data.invoice.identifier, work_item_data.invoice) rescue 'none') } %>
      <%= f.field :start_date, { :value => work_item_data.start_time.short_date } %>
      <%= f.field :start_time, { :value => work_item_data.start_time.short_time } %>
      <%= f.field :end_time, { :value => (work_item_data.end_time.short_time rescue 'open') } %>
    </div>
  <% end %>
</div>

<%= link_to edit_image_tag(:large), edit_work_item_path(work_item_data) %> |
<%= link_to back_image_tag(:large), work_items_path %>
