<div class="list work_items">
	<div class="heading"><%= @list_type.to_s %> work items <%= link_to '+', new_work_item_url %></div>
	<div class="content">
		<%= render :partial => 'work_items/list_header' %>
		<%= render :partial => 'work_items/work_item', :collection => work_item_list %>
		<%= render :partial => 'work_items/list_summary', :object => work_item_list %>
	</div>
</div>

<% if @list_type != :all -%>
<div class="link all"><%= link_to 'all', all_work_items_url %></div>
<% else -%>
<div class="link loose"><%= link_to 'loose', invoice_items_url %></div>
<% end -%>
