<h1>Editing work_item</h1>

<% form_for(@work_item) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :user_id, :value => @current_user.id %>
  <p>
    <%= f.label :project %><br />
    <%= f.collection_select :project_id, @current_user.projects, :id, :name %>
  </p>
  <p id="project_rates">
    <%= f.label :rate %><br />
    <%= f.collection_select :rate_id, @work_item.project.rates, :id, :name %>
  </p>

	<%= observe_field :work_item_project_id, :url => { :controller => 'rates', :action => 'for_project' }, :update => 'project_rates', :with => '"c=work_item&id="+value' %>

  <p id="project_invoices">
    <%= f.label :invoice %><br />
    <%= f.collection_select :invoice_id, @work_item.project.invoices, :id, :identifier, :include_blank => true %>
  </p>

	<%= observe_field :work_item_project_id, :url => { :controller => 'invoices', :action => 'for_project' }, :update => 'project_invoices', :with => '"c=work_item&id="+value' %>

  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, { :minute_step => 5 } %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, { :include_blank => true, :minute_step => 5 } %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @work_item %> |
<%= link_to 'Back', work_items_path %>
