<h1><%= @work_item.new_record? ? 'New' : 'Editing' -%> Work Item</h1>

<% form_builder_for(@work_item) do |f| %>
	<%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.collection_select :project_id, @current_user.projects, :id, :name %>
  <p id="project_rates">
    <%= f.collection_select :rate_id, (@work_item.project.nil? ? [] : @work_item.project.rates), :id, :name %>
  </p>
	<%= observe_field :work_item_project_id, :url => { :controller => 'rates', :action => 'for_project' }, :update => 'project_rates', :with => '"c=work_item&id="+value' %>
  <p id="project_invoices">
    <%= f.collection_select :invoice_id, (@work_item.project.nil? ? [] : @work_item.project.invoices), :id, :identifier, :include_blank => true %>
  </p>
	<%= observe_field :work_item_project_id, :url => { :controller => 'invoices', :action => 'for_project' }, :update => 'project_invoices', :with => '"c=work_item&id="+value' %>
  <%= f.datetime_select :start_time, { :minute_step => 5 } %>
  <%= f.datetime_select :end_time, { :include_blank => true, :minute_step => 5 } %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Back', work_items_path %>
