<h1>New work_item</h1>

<% form_for(@work_item) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :user_id, :value => @current_user.id %>
  <p>
    <%= f.label :project %><br />
    <%= f.collection_select :project_id, @projects, :id, :name %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.collection_select :rate_id, @rates, :id, :name %>
  </p>
  <p>
    <%= f.label :invoice %><br />
    <%= f.collection_select :invoice_id, @invoices, :id, :identifier, :include_blank => true %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, :include_blank => true %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', work_items_path %>
