<h1><%= @project.new_record? ? 'New' : 'Editing' -%> Project</h1>

<% form_builder_for(@project) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :base_rate %>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.collection_select :client_id, @current_user.clients, :id, :name %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to back_image_tag(:large), projects_path %>
