<% display_controls = defined?(show_controls) ? show_controls : false -%>
<div class="list users">
  <div class="heading"><%= defined?(title) ? title : 'users' %> <% if display_controls -%><%= link_to '+', new_user_path %><% end -%></div>
  <div class="content" id="project_users_container">
    <%= render :partial => "projects/project_users/list_header" %>
    <%= render :partial => "projects/project_users/project_user", :collection => user_list, :locals => { :form => form } %>
  </div>
  <script type="text/javascript">var project_users_container_id=<%= user_list.collect { |u| u.id }.max %>;</script>
  <% if @user_options.admin_account_group? -%>
    <%= link_to_remote '+', :update => 'project_users_container',
        :position => :bottom,
        :url => { :action => 'add_project_user' },
        :with => "'id=' + ++project_users_container_id" %>
  <% end -%>
</div>
