<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :credit_amount %><br />
    <%= f.text_field :credit_amount %>
  </p>
  <p>
    <%= f.label :debit_amount %><br />
    <%= f.text_field :debit_amount %>
  </p>
  <p>
    <%= f.label :trans_date %><br />
    <%= f.datetime_select :trans_date %>
  </p>
  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>