<h1><%= @transaction.new_record? ? 'New' : 'Editing' -%> Transaction</h1>

<% form_builder_for(@transaction) do |f| %>
	<%= hidden_field :account, :id %>
  <%= f.datetime_select :trans_date %>
  <%= f.text_field :ref %>
  <%= f.text_field :description %>
  <%= f.text_field :amount %>
  <%= f.select :debit_account_id, accounts_options_for_select(@transaction.debit_account_id) %>
  <%= f.select :credit_account_id, accounts_options_for_select(@transaction.credit_account_id) %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Back', transactions_path %>
