<h1>New transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

	<%= hidden_field :account, :id %>
  <p>
    <%= f.label :trans_date %><br />
    <%= f.datetime_select :trans_date %>
  </p>
  <p>
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :credit_account %><br />
    <%= f.collection_select :credit_account_id, @credit_accounts, :id, :name, :include_blank => :true %>
  </p>
  <p>
    <%= f.label :debit_account %><br />
    <%= f.collection_select :debit_account_id, @debit_accounts, :id, :name, :include_blank => :true %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', account_url(@account) %>
