<h1><%= @rate.new_record? ? 'New' : 'Editing' -%> Rate</h1>

<% form_for(@rate) do |f| %>
  <%= f.text_field :name %>
  <%= f.collection_select :project_id, @projects, :id, :name %>
  <%= f.text_field :modifier %>
	<%= f.check_box :taxeable, :label => 'Taxeable?' %>
	<%= f.text_field :tax, :label => 'Tax Rate' %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to back_image_tag(:large), rates_path %>
