<p>
  <b>Name:</b>
  <%=h @rate.name %>
</p>

<p>
  <b>Project:</b>
  <%=h @rate.project %>
</p>

<p>
  <b>Modifier:</b>
  <%=h @rate.modifier %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>