<div class="list_item <%= account.div_classes.join(' ') %>">
	<div class="field color_code">&nbsp;</div>
	<div class="field first name"><%= link_to account.name, account %></div>
	<div class="field balance"><%=h number_to_currency(account.real_balance.abs) %></div>
	<div class="field due_date"><%=h account.due_date.short_date rescue '&nbsp;' %></div>
	<div class="field amount"><%=h number_to_currency(account.total_amount) %></div>
	<div class="field period_amount"><%=h number_to_currency(convert_period(account.total_amount, account.period, @period.value)) %></div>
	<div class="links">
		<div class="link show"><%= link_to show_image_tag, account %></div>
		<div class="link edit"><%= link_to edit_image_tag, edit_account_path(account) %></div>
		<div class="link destroy"><%= link_to delete_image_tag, account, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
</div>
