<div class="item_data account <%= account_data.class.name.underscore %>">
	<div class="heading"><%= account_data.class.name.titleize %> : <%= account_data.name %></div>

	<div class="content">
		<div class="column first">
			<div class="field name">
				<div class="field_name">Name:</div>
				<div class="field_value"><%=h account_data.name %></div>
			</div>

			<% if account_data.is_client_account? -%>
			<div class="field account">
				<div class="field_name">Client:</div>
				<div class="field_value"><%= link_to account_data.client.name, client_url(account_data.client) %></div>
			</div>
			<% end -%>

			<div class="field description">
				<div class="field_name">Description:</div>
				<div class="field_value"><%=h account_data.description %></div>
			</div>

			<div class="field account_number">
				<div class="field_name">Account number:</div>
				<div class="field_value"><%=h account_data.account_number %></div>
			</div>

			<div class="field initial_balance">
				<div class="field_name">Initial balance:</div>
				<div class="field_value"><%=h number_to_currency(account_data.initial_balance) %></div>
			</div>

			<div class="field balance">
				<div class="field_name">Current balance:</div>
				<div class="field_value"><%=h number_to_currency(account_data.balance) %></div>
			</div>

			<div class="field total">
				<div class="field_name">Total:</div>
				<div class="field_value"><%=h number_to_currency(account_data.primary) %></div>
			</div>

			<div class="field type">
				<div class="field_name">Type:</div>
				<div class="field_value"><%=h account_data.type.to_s.titleize %></div>
			</div>

			<div class="field amount">
				<div class="field_name">Amount:</div>
				<div class="field_value"><%=h number_to_currency(account_data.amount) %></div>
			</div>

			<div class="field due_date">
				<div class="field_name">Due date:</div>
				<div class="field_value"><%=h account_data.next_due_date.short_date %></div>
			</div>

			<div class="field period">
				<div class="field_name">Period:</div>
				<div class="field_value"><%=h Account::Period[account_data.period].name %></div>
			</div>
		</div>
		<div class="column">
			<div class="graph">
				<img src="/graphs/account/<%= account_data.id %>" />
			</div>
		</div>
	</div>
</div>

