<div class="list_item account <%= account.type.to_s.underscore%> <%= account.flags %>">
	<div class="field first name"><%= link_to account.name, account %></div>
	<div class="field description"><%=h account.description %></div>
	<div class="field balance"><%=h number_to_currency(account.balance) %></div>
	<div class="field type"><%=h account.type.to_s.titleize %></div>
	<div class="field amount"><%=h account.protected_field(:amount, number_to_currency(account.amount)) %></div>
	<div class="field annual"><%=h number_to_currency(account.net_annual) %></div>
	<div class="field user"><%=h account.user.username %></div>
	<div class="field due_date"><%=h account.protected_field(:due_date, account.next_due_date.short_date) %></div>
	<div class="field period"><%=h account.protected_field(:period, Account::Period[account.period].name) %></div>
	<div class="links">
		<div class="link edit"><%= link_to 'Edit', edit_account_path(account) %></div>
	</div>
</div>
