<div class="header">
	<div class="field first name">&nbsp;</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">Balance</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount">Amount</div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary current_debit">
	<div class="field first name">Current debit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance"><%= number_to_currency(@current_user.debit_balance) %></div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.debit_balance) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary current_credit">
	<div class="field first name">Current credit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance"><%= number_to_currency(@current_user.credit_balance_sans_client) %></div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.credit_balance) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary current_net">
	<div class="field first name">Current net</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance"><%= number_to_currency(@current_user.net_balance_sans_client) %></div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.net_balance) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary monthly_debit">
	<div class="field first name"><%= @period.name.titleize %> debit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(convert_period(@current_user.net_monthly_debit, 12, @period.period)) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary monthly_credit">
	<div class="field first name"><%= @period.name.titleize %> credit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(convert_period(@current_user.net_monthly_credit, 12, @period.period)) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary net_monthly">
	<div class="field first name">Net <%= @period.name %></div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(convert_period(@current_user.net_monthly, 12, @period.period)) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary annual_debit">
	<div class="field first name">Annual debit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.net_annual_debit) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary annual_credit">
	<div class="field first name">Annual credit</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.net_annual_credit) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>

<div class="list_item summary net_annual">
	<div class="field first name">Net annual</div>
	<div class="field description">&nbsp;</div>
	<div class="field balance">&nbsp;</div>
	<div class="field type">&nbsp;</div>
	<div class="field amount"><%= number_to_currency(@current_user.net_annual) %></div>
	<div class="field user">&nbsp;</div>
	<div class="field due_date">&nbsp;</div>
	<div class="field period">&nbsp;</div>
</div>
