<div class="list_item transaction <%= transaction.flags %>">
	<div class="field first trans_date"><%= link_to transaction.trans_date.short_date, transaction %></div>
	<div class="field ref"><%=h transaction.ref %></div>
	<% if !transaction.invoice.nil? -%>
		<div class="field description"><%= link_to transaction.description, invoice_url(transaction.invoice) %></div>
	<% else -%>
		<div class="field description"><%=h transaction.description %></div>
	<% end -%>
	<% if @account == transaction.credit_account -%>
	<div class="field credit_amount <%= transaction.credit_amount_flags %>"><%=h number_to_currency(transaction.credit_amount) %></div>
	<div class="field account"><%= debit_account_link(transaction) %></div>
	<% end -%>
	<% if @account == transaction.debit_account -%>
	<div class="field debit_amount <%= transaction.debit_amount_flags %>"><%=h number_to_currency(transaction.debit_amount) %></div>
	<div class="field account"><%= credit_account_link(transaction) %></div>
	<% end -%>
	<div class="links">
		<div class="link show"><%= link_to 'Show', transaction %></div>
		<div class="link edit"><%= link_to 'Edit', edit_transaction_path(transaction) %></div>
		<div class="link destroy"><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
</div>
