<h1><%= @account.new_record? ? 'New' : 'Editing' -%> Account</h1>

<% form_builder_for(@account) do |f| %>
  <%= f.text_field :name %>
  <%= f.select :parent_id, accounts_options_for_select(@account.parent_id), { :include_blank => true } %>
  <%= f.text_field :description %>
  <%= f.text_field :initial_balance %>
  <%= f.collection_select :type, Account.types, :class_name, :display_name %>
	<%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.date_select :due_date %>
  <%= f.collection_select :period, Period.all, :value, :name %>
  <%= f.text_field :account_number %>
  <%= f.text_field :amount %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to show_image_tag(:large), @account %> |
<%= link_to back_image_tag(:large), accounts_path %>
