<div id="ajax_container">
	<div class="list accounts">
		<div class="heading">accounts <%= link_to '+', new_account_url %></div>
		<%= render :partial => 'period_selector' %>
		<div class="content">
			<%= render :partial => 'list_header' %>
			<%= render :partial => 'account_item', :collection => @accounts %>
		</div>
	</div>

	<%= render :partial => 'shared/summary' %>
</div>
