<div id="ajax_container">
	<div class="list accounts">
		<div class="heading">Listing accounts <%= link_to '+', new_account_url %></div>
		<%= render :partial => 'period_selector' %>
		<div class="content">
			<%= render :partial => 'list_header' %>
			<%= render :partial => 'account', :collection => @accounts %>
		</div>
	</div>

	<div class="graph">
		<img src="<%= summary_graph_url %>" />
	</div>

<!--
	<div id="summary" class="list summary accounts">
		<div class="content">
			<%= render :partial => 'summary' %>
		</div>
	</div>
</div>
-->
