<div class="item_data account <%= @account.class.name.underscore %>">
	<div class="heading"><%= @account.class.name.titleize %> : <%= @account.name %></div>

	<div class="content">
		<div class="field name">
			<div class="field_name">Name:</div>
			<div class="field_value"><%=h @account.name %></div>
		</div>

		<div class="field description">
			<div class="field_name">Description:</div>
			<div class="field_value"><%=h @account.description %></div>
		</div>

		<div class="field account_number">
			<div class="field_name">Account number:</div>
			<div class="field_value"><%=h @account.account_number %></div>
		</div>

		<div class="field initial_balance">
			<div class="field_name">Initial balance:</div>
			<div class="field_value"><%=h number_to_currency(@account.initial_balance) %></div>
		</div>

		<div class="field balance">
			<div class="field_name">Current balance:</div>
			<div class="field_value"><%=h number_to_currency(@account.balance) %></div>
		</div>

		<div class="field type">
			<div class="field_name">Type:</div>
			<div class="field_value"><%=h @account.type.to_s.titleize %></div>
		</div>

		<div class="field user">
			<div class="field_name">User:</div>
			<div class="field_value"><%=h @account.user.username %></div>
		</div>

		<div class="field due_date">
			<div class="field_name">Due date:</div>
			<div class="field_value"><%=h @account.due_date.short_date %></div>
		</div>

		<div class="field period">
			<div class="field_name">Period:</div>
			<div class="field_value"><%=h @account.period %></div>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

<% if @account.recent_transactions.size > 0 -%>
<div class="list account_transactions transactions">
	<div class="heading">transactions</div>
	<div class="content">
		<%= render :partial => 'transaction_list_header' %>
		<%= render :partial => 'transaction', :collection => @account.recent_transactions %>
	</div>
</div>
<% end -%>

<div class="transaction_links links">
	<div class="link plus">
	<%=
		link_to_if @account.is_credit_account?, '+', new_account_transaction_url(@account, { :type => 'credit' }) do
			link_to '+', new_account_transaction_url(@account, { :type => 'debit' })
		end
	%>
	</div>
	<div class="link minus">
	<%=
		link_to_if @account.is_credit_account?, '-', new_account_transaction_url(@account, { :type => 'debit' }) do
			link_to '-', new_account_transaction_url(@account, { :type => 'credit' })
		end
	%>
	</div>
	<div class="link transfer">
	<%= link_to '>', new_account_transaction_url(@account, { :type => 'transfer' }) %>
	</div>
</div>
