<%= render :partial => 'account_data', :object => @account %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Destroy', @account, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', accounts_path %>


<% if @account.recent_transactions.size > 0 -%>
	<%= render :partial => 'accounts/transaction_list', :object => @account.recent_transactions %>
<% end -%>

<div class="transaction_links links">
	<div class="link plus">
	<%=
		link_to_if @account.is_credit_account?, '+', new_account_transaction_url(@account, { :type => 'credit' }) do
			link_to '+', new_account_transaction_url(@account, { :type => 'debit' })
		end
	%>
	</div>
	<div class="link minus">
	<%=
		link_to_if @account.is_credit_account?, '-', new_account_transaction_url(@account, { :type => 'debit' }) do
			link_to '-', new_account_transaction_url(@account, { :type => 'credit' })
		end
	%>
	</div>
	<div class="link transfer">
	<%= link_to '>', new_account_transaction_url(@account, { :type => 'transfer' }) %>
	</div>
</div>

