<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @account.description %>
</p>

<p>
  <b>Initial balance:</b>
  <%=h number_to_currency(@account.initial_balance) %>
</p>

<p>
  <b>Type:</b>
  <%=h @account.type.to_s.titleize %>
</p>

<p>
  <b>User:</b>
  <%=h @account.user.username %>
</p>

<p>
  <b>Due date:</b>
  <%=h @account.due_date.short_date %>
</p>

<p>
  <b>Period:</b>
  <%=h @account.period %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
